* {
	font-family: 'Cabin', sans-serif;
}

body {
	background-color: #F0F0F0;
}

h1 {
	font-size: 50px;
	color: #0000FF;
	font-weight: 300;
	margin-top: 0px; 
	margin-bottom: 0px;
}

h2 {
	font-size: 24px;
	color: #0000FF;
	line-height: 29px;
}
h3 {
	font-size: 18px;
	color: #0000FF;
	line-height: 23px;
}
p {
 	font-size: 16px;
 	color: #0000FF;
 	line-height: 24px;
 	font-weight: 400;
}
a {
 	font-size: 14px;
 	color: #FF9900;
 	line-height: 17px;
}
a:hover {
	color: #0000FF;
}
.top {
	padding-top: 30px;
	padding-bottom: 30px;
}
.username-header {
	color: #000099;
}
.log-button {
	color: #000099;
}
.catalog-display {
	background-color: #FFFFFF;
}
.category-list {
 	background-color: #FFFFFF;
 	color: #ff9900;
 	padding: 20px;
}
.category-list:hover {
 	background-color: #3399ff;
 	color: #000000;
 	padding: 20px;
}
.item-list {
 	background-color: #FFFFFF;
 	color: #ff9900;
 	padding: 20px;
}
.item-list:hover {
 	background-color: #3399ff;
 	color: #000000;
 	padding: 20px;
}
.description {
	color: #4A4A4A;
}
.menu-item {
	background: #F0F0F0;
	padding: 20px;
	margin: 20px;
	margin-left: -20px;
}
.menu-price {
	font-weight: 700;
}
.creator {
	padding-right: 20px;
	margin-top: -20px;
	text-align: right;
	float:right;
}
.creator img {
	width: 100px;
	border-radius: 50%;
}
.creator figcaption {
	font-size: 14px;
	color: #7B7573;
	font-weight: 400;
	margin-top: -20px;
}
.flash {
	background-color: #98FB98;
	width:100%;
	text-decoration: none;

}

.flash li {
	list-style-type: none;
	text-align: center;

}